[submodule "lib/Arduboy2"]
	path = lib/Arduboy2
	url = https://github.com/MLXXXp/Arduboy2.git
[submodule "lib/ArduboyTones"]
	path = lib/ArduboyTones
	url = https://github.com/MLXXXp/ArduboyTones.git
